.page-title {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.articles a {
    color: inherit;
    text-decoration: inherit;
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.article-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center; 
    border: 1px solid var(--text-colour);
    padding: 1rem;
    justify-items: center;
}

.article-card:hover {
    box-shadow: -2px 2px 4px var(--shadow-colour),
    -5px 5px 8px 4px var(--shadow-colour);
}

.article-card * {
    padding-bottom: 0.5rem;
}

.article-card:nth-child(18n + 1),
.article-card:nth-child(18n + 12) {

    grid-column: span 2;
    grid-row: span 2;
    width: auto;
    justify-items: center;

        .article-title {
            font-size: 2.2rem;
        }
}

.article-title {
    font-size: 1.1rem;
}

.article-card img {
    width: 100%;
    border-radius: var(--border-radius);
}

.article-author {
    font-style: italic;
    justify-self: end;
    padding-right: 10%;
}

.likes-comments-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150%;
}

.like-button,
.dislike-button,
.comment-tally {
    padding: 14px;
    border-style: none;
    font-weight: bold;
    color: var(--background-colour);
    text-decoration: none;
}

.like-button {
    background: url(./img/icons/heart.svg) no-repeat center;
}

.dislike-button {
    background: url(./img/icons/heart-broken.svg) no-repeat center;
}

.voted {
    border-bottom: 1px solid var(--logo-colour);
    border-radius: var(--border-radius);
}

.comment-tally {
    background: var(--comments-svg)
}

.page-not-found {
    background: var(--page-not-found) no-repeat top;
    padding: 320px;
    border-radius: var(--border-radius);
}

@media only screen and (max-width:1280px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }

    .article-card:nth-child(18n + 1),
    .article-card:nth-child(18n + 12) {

    grid-column: auto;
    grid-row: auto;

        .article-title {
            font-size: 1.1rem;
        }
    }

    .article-card:nth-child(12n + 1),
    .article-card:nth-child(12n + 8) {

        grid-column: span 2;
        grid-row: span 2;

            .article-title {
                font-size: 2.2rem;
            }
    }
}

@media only screen and (max-width:920px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }

    .article-card:nth-child(12n + 1),
    .article-card:nth-child(12n + 8) {

        grid-column: auto;
        grid-row: auto;

            .article-title {
                font-size: 2.2rem;
            }
    }

    .article-card:nth-child(18n + 1),
    .article-card:nth-child(18n + 12) {
        grid-column: span 2;
        grid-row: auto;
    
            .article-title {
                font-size: 1.6rem;
            }
    }
}

@media only screen and (max-width:700px) {
    .page-not-found {
        background: var(--page-not-found) no-repeat top;
        background-size: 700px;
        padding: 160px;
    }
}

@media only screen and (max-width:560px) {
    .articles {
        grid-template-columns: 100%;
    }

    .article-card:nth-child(18n + 1),
    .article-card:nth-child(18n + 12) {

    grid-column: auto;
    grid-row: auto;

        .article-title {
            font-size: 1.1rem;
        }
}

    .page-title {
        font-size: 1.3rem;
    }
}