.page-title {
    font-weight: bold;
}

.article-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article-img {
    border-radius: var(--border-radius);
    width: 80%;
    align-self: center;
}

.article-details {
    display: flex;
    justify-content: space-evenly;
}

.likes-comments {
    display: flex;
    justify-content: space-evenly;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--text-colour);
    border-radius: var(--border-radius);
    margin: 2rem 0;
}

.comment-form {
    border-bottom: 1px solid var(--text-colour);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.comment-form label {
    font-weight: bold;
}

.comment-form textarea {
    font-family: Montserrat, system-ui, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 550;
    width: 90%;
    max-width: 100%;
    border-radius: var(--border-radius);
    align-self: center;
    margin: 1rem;
    padding: 1ch;
}

.comment-form button,
.yes,
.no {
    width: 10ch;
    padding: 0.3rem;
    border: 3px solid var(--logo-colour);
    border-radius: var(--border-radius);
    font-weight: bold;
    align-self: center;
}

.comment-container {
    padding: 1rem;
    border-bottom: 2px dashed var(--text-colour);
}

.comment-container:last-child {
    border-bottom: 2px solid shed var(--text-colour);
}

.comment-body {
    padding-bottom: 1rem;
}

.article-vote-error,
.comment-error,
.confirm-comment-delete {
    background-color: var(--logo-colour);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-weight: bold;
    text-align: center;
    width: 80%;
    align-self: center;
    margin-top: 1rem;
    color: white;
}

.confirm-comment-delete {
    grid-column: span 3;
}

.comment-details {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    justify-items: flex-end;
    align-items: center;
}

.comment-details .article-author {
    justify-self: flex-start;
}

.comment-details .like-button {
    justify-self: center;
}

.comment-details .dislike-button {
    justify-self: center;
    margin-right: 0.7rem;
    margin-left: 0.5rem;
}

.delete-comment {
    background: url(./img/icons/bin.svg) no-repeat center
}

.hide {
    color: var(--background-colour);
}


.confirm {
    display: flex;
    gap: 2rem;
    margin-left: 8rem;
}

.successful-deletion {
    color: green;
    font-weight: bold;
}

@media only screen and (max-width: 650px) {
    .confirm {
        margin-left: 2rem;
    }

    .yes,
    .no {
        font-size: 0.7rem;
        width: 7ch;
    }
}

@media only screen and (max-width: 500px) {
    .comment-details {
        font-size: 0.9rem;
    }

    .confirm {
        flex-direction: column;
        width: 3ch;
    }
}

@media only screen and (max-width: 400px) {
    .comment-details {
        font-size: 0.8rem;
    }
}
