.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.header a {
    color: inherit;
    text-decoration: inherit;
}

.site-name {
    font-size: 4rem;
    font-weight: bold;
}

.logo {
    color: var(--logo-colour);
    letter-spacing: 0ch;
    font-weight: 800;
}


.logo {
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {text-shadow: 0px 0px var(--text-colour);}
    35% {text-shadow: 0px 0px var(--text-colour);}
    40% {text-shadow: -2px -1px var(--text-colour);}
    45% {text-shadow: -4px -3px var(--text-colour);}
    50% {text-shadow: -6px -5px var(--text-colour);}
    55% {text-shadow: -4px -3px var(--text-colour);}
    60% {text-shadow: -2px -1px var(--text-colour);}
    65% {text-shadow: 0px -0px var(--text-colour);}
    100% {text-shadow: 0px -0px var(--text-colour);}
}


.header-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-message {
    margin: 0rem 2rem;
}

.welcome-message {
    font-weight: bold;
    font-size: 1.5rem;
}

.username {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.log-on,
.log-off {
    color: var(--logo-colour);
    border: 3px solid var(--logo-colour);
    border-radius: var(--border-radius);
    font-weight: bold;
    width: 10ch;
    margin: 0% 30%;
    margin-top: 10%;
    height: 3ch
}

.theme-toggle {
    background: var(--theme-svg);
    padding: 20px;
    color: var(--background-colour);
    font-weight: bold;
    border-radius: var(--border-radius);
}

@media only screen and (max-width:950px) {
    .username {
        text-align: inherit;
    }

    .welcome-message {
        font-weight: bold;
        font-size: 1rem;
    }
}

@media only screen and (max-width:560px) {
    .header { 
        margin: 0rem;
        padding: 0.5rem;
    }

    .site-name {
        font-size: 3rem;
    }

    .logo {
        color: var(--logo-colour);
        letter-spacing: -0.1ch;
    }
}

@media only screen and (max-width:450px) {
    .site-name {
        font-size: 3rem;
    }

    .theme-toggle { 
        display: none;
    }

    .user-message {
        display: none;
    }

    .welcome-message,
    .username,
    .log-on,
    .log-off {
        font-size: 0.8rem;
        margin: auto
        
    }

    #user-message.open {
        display: block;
        position: fixed;
        top: 1%;
        right: 24%;
        background-color: var(--burger-background);
        margin: 0rem;
        z-index: 1;
    }
}

@media only screen and (max-width:370px) {
    .site-name {
        font-size: calc(10vw + 5px);
    }
}