.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.site-name {
    font-size: 4rem;
    font-weight: bold;
}

.logo {
    color: var(--logo-colour);
    letter-spacing: -0.1ch;
}

.header-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-message {
    margin: 0rem 2rem;
}

.welcome-message {
    font-weight: bold;
    font-size: 1.5rem;
}

.username {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.sign-on {
    color: var(--logo-colour);
    border: 1px solid var(--logo-colour);
    border-radius: 0.5rem;
    font-weight: bold;
    width: 50%;
    margin: 0% 30%;
    margin-top: 10%;
}

.theme-toggle {
    background: var(--theme-svg);
    padding: 20px;
    color: var(--background-colour);
    font-weight: bold;
    border-radius: 7px;
}

@media only screen and (max-width:950px) {
    .username {
        text-align: inherit;
    }

    .welcome-message {
        font-weight: bold;
        font-size: 1rem;
    }
}

@media only screen and (max-width:560px) {
    .header { 
        margin: 0rem;
        padding: 0.5rem;
    }

    .site-name {
        font-size: 3rem;
    }

    .logo {
        color: var(--logo-colour);
        letter-spacing: -0.1ch;
    }
}

@media only screen and (max-width:450px) {
    .site-name {
        font-size: 3rem;
    }

    .theme-toggle { 
        display: none;
    }

    .user-message {
        display: none;
    }

    .welcome-message,
    .username,
    .sign-on {
        font-size: 0.8rem;
        width: 10ch;
        margin: 0px;
    }

    #user-message.open {
        display: block;
        position: fixed;
        top: 1%;
        right: 20%;
        background-color: var(--burger-background);
        margin: 0rem;
        z-index: 1;
    }
}

@media only screen and (max-width:370px) {
    .site-name {
        font-size: calc(10vw + 5px);
    }
}